
[Service]
ExecStart=/usr/bin/nginx-auth-subrequest-ldap -c=/etc/ldap/config.ini
StandardInput=socket
User=nginx

[Install]
WantedBy=multi-user.target
